@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #e5e5e5;
}

.header {
  width: 100%;
  height: 10vh;
  display: flex;
  background-color: #ffffff;
  box-shadow: rgb(180, 180, 180) 0px 0.5px;
}

.logo {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo > img {
  cursor: pointer;
  width: 50%;
}

.menu {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.btn {
  border: none;
  font-family: "Montserrat", sans-serif;
  max-width: 100%;
  max-height: 100%;
}

.btn-especialidade {
  width: 20%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-especialidade button {
  background: none;
  width: 100%;
  height: 100%;
  border: #1d1d1d solid 1px;
  border-radius: 35px;
  font-size: 1.05rem;
  cursor: pointer;
}

.btn-convenio {
  width: 20%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-convenio button {
  background: none;
  width: 100%;
  height: 100%;
  border: #1d1d1d solid 1px;
  border-radius: 35px;
  font-size: 1.05rem;
  cursor: pointer;
}

.btn-buscar-especialistas {
  width: 20%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-buscar-especialistas button {
  background: #11b9c4;
  color: aliceblue;
  width: 100%;
  height: 100%;
  border-radius: 35px;
  font-size: 1.05rem;
  cursor: pointer;
}

.body-body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.doctor-one {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.doctor-two {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}
