@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

body * {
  box-sizing: border-box;
}

.header {
  width: 100%;
  height: 25%;
  display: flex;
}

.logo {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo > img {
  cursor: pointer;
  width: 40%;
}

.menu {
  padding-left: 20%;
  width: 70%;
}

.menu li {
  margin: 10px;
  list-style: none;
  display: inline-flex;
  font-size: 1.5vw;
  font-weight: 800;
  cursor: pointer;
}

a {
  color: black;
  text-decoration: none;
}

.menu ul li a::after {
  content: "";
  margin-left: 13px;
  display: flex;
  bottom: 1rem;
  left: 50%;
  width: 0;
  height: 0.2rem;
  background: #11b9c4;
  transition: all 300ms ease-in-out;
}

.menu ul li a:hover::after {
  width: 80%;
  left: 25%;
}

@media only screen and (max-width: 350px) {
  .header {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .logo {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .logo > img {
    cursor: pointer;
    width: 50%;
  }

  .menu {
    padding-left: 20%;
    width: 100%;
  }

  .menu li {
    margin: 10px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 3.5vw;
    font-weight: 800;
    cursor: pointer;
  }
}
