@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #e5e5e5;
}

body * {
  box-sizing: border-box;
}

.header {
  width: 100%;
  height: 25%;
  display: flex;
  background-color: #ffffff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.logo {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo > img {
  cursor: pointer;
  width: 50%;
}

.menu {
  padding-left: 20%;
  width: 100%;
}

.menu li {
  margin-left: 20px;
  margin-right: 20px;
  list-style: none;
  display: inline-flex;
  font-size: 1.5vw;
  font-weight: 800;
  cursor: pointer;
}

.menu ul li a::after {
  content: "";
  margin-left: 13px;
  display: flex;
  bottom: 1rem;
  left: 50%;
  width: 0;
  height: 0.2rem;
  background: #11b9c4;
  transition: all 300ms ease-in-out;
}

.menu ul li a:hover::after {
  width: 65%;
  left: 25%;
}

.sub {
  margin: 0;
  padding-top: 2.5%;
  padding-left: -5.5%;
  display: flex;
  justify-content: center;
}

.sub-sub {
  margin: 0;
  padding-left: 5.5%;
}

.body-body {
  width: 98.7vw;
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-body {
  width: 50%;
  background-color: #ffffff;
  border-radius: 35px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 15vh;
}

.card-details {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
}

.body {
  width: 100%;
}

.header-body {
  width: 100%;
  height: 58.7vh;
  display: flex;
}

.right-header-body {
  width: 50vw;
  height: 58.7vh;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.left-header-body {
  width: 50vw;
  height: 58.7vh;
  display: flex;
  justify-content: center;
}

.main-mini-card {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  height: 40vh;
  padding-top: -5%;
}

.mini-card {
  background-color: #ffffff;
  width: 90%;
  height: 10vh;
  padding-left: 5%;
  display: flex;
  align-items: center;
  border-radius: 30px;
}

.mini-card button {
  border: none;
  background: none;
  outline: none;
  font-size: 1.3rem;
  font-family: "Montserrat", sans-serif;
  transition: transform 0.09s;
}

.mini-card button:hover {
  transform: scale(1.1);
}

.container {
  width: 80%;
  height: 53.7vh;
  color: #12121f;
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 35px;
}

.calendar {
  width: 45rem;
  height: 52rem;
  background-color: #ffffff;
}
