@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

body * {
  box-sizing: border-box;
}

.body {
  width: 100%;
}

.header-body {
  width: 98vw !important;
  height: 60vh !important;
  display: flex !important;
}

.left-header-body {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  width: 50vw !important;
  height: 60vh !important;
}

.left-header-body {
  font-size: 1.5vw !important;
}

.left-header-body h1 {
  color: #1d1d1d;
  margin-top: -100px;
  font-size: 2.6rem;
  font-weight: 900;
}

.right-header-body {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  width: 50vw !important;
  height: 60vh !important;
}

.right-header-body > img {
  border-radius: 50% !important;
  width: 85% !important;
  margin-right: 40px !important;
}

.card-body {
  width: 70% !important;
  height: 20% !important;
  padding: 30px 35px !important;
  background: #ffffff !important;
  border-radius: 20px !important;
  box-shadow: 0px 10px 40px #00000056 !important;
}

.card-title {
  width: 100% !important;
  height: 100% !important;
  font-size: 0.85vw !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.card-title h1 {
  margin-top: 0;
  color: #1d1d1d;
  font-size: 2.4rem;
  font-weight: 600;
  letter-spacing: 1px;
}

.textfield {
  display: inline !important;
  margin: 10px 0px !important;
  width: 100% !important;
}

.textfield > input {
  width: 40% !important;
  height: 10vh !important;
  border: none !important;
  border-radius: 10px !important;
  padding: 15px !important;
  background: #ffffff !important;
  color: #11b9c4 !important;
  font-size: 12pt !important;
  outline: none !important;
}

.textfield > input:hover {
  box-shadow: 0px 10px 40px #00000056 !important;
  transition: 0.3s ease-in-out !important;
}

.textfield > input::placeholder {
  color: #11b9c4 !important;
  font-size: 1.2vw !important;
}

.card-button {
  padding-left: 3% !important;
  display: inline !important;
}

.card-button button {
  margin: 10px 0 0 0 !important;
  width: 95% !important;
  height: 8% !important;
  border-radius: 10px !important;
  color: #ffffff !important;
  background-color: #11b9c4 !important;
  border: none !important;
  text-transform: uppercase !important;
  font-weight: 800 !important;
  letter-spacing: 3px !important;
  cursor: pointer !important;
}

.header-footer {
  width: 100% !important;
  height: 60vh !important;
  display: flex !important;
}

.copy {
  font-size: 0.9vw;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #11b9c4;
}

@media only screen and (max-width: 950px) {
  .right-header-body > img {
    width: 85%;
  }

  .textfield > input::placeholder {
    font-size: 1.5vw;
  }

  .card-button > button {
    letter-spacing: 2px;
    font-size: 1.2vw;
  }

  .first-image > img,
  .second-image > img,
  .thirty-image > img {
    width: 16vw;
    height: 20vh;
  }

  .first-image > span {
    padding-right: 8%;
    font-size: 1.3vw;
  }

  .second-image > span {
    font-size: 1.3vw;
  }

  .thirty-image > span {
    font-size: 1.3vw;
    padding-left: 8%;
  }
}

@media only screen and (max-width: 350px) {
  .right-header-body > img {
    width: 85%;
  }

  .textfield > input::placeholder {
    font-size: 1.5vw;
  }

  .card-button > button {
    letter-spacing: 2px;
    font-size: 1.2vw;
  }

  .first-image > img,
  .second-image > img,
  .thirty-image > img {
    width: 16vw;
    height: 20vh;
  }

  .first-image > span {
    padding-right: 8%;
    font-size: 1.3vw;
  }

  .second-image > span {
    font-size: 1.3vw;
  }

  .thirty-image > span {
    font-size: 1.3vw;
    padding-left: 8%;
  }
}
