@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #E5E5E5;
}

body * {
    box-sizing: border-box;
}

.body{
    width: 100%;
}

.header-body{
    width: 100%;
    height: 85.7vh;
    display: flex;
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    margin-top: 10%;
    font-size: 2rem;
    color: #11B9C4;
}

h2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

h3{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1rem;
}

.view-more{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: row;
    width: 86vw;
    height: 5vh;

}

.right-header-body{
    padding-top: 3.5%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 50vw;
    height: 85.7vh;
}

.right-header-body h2{
    margin-top: -3.5%;
}

.left-header-body{
    padding-top: 2.5%;
    width: 50vw;
    height: 85.7vh;
}

.card-body{
    margin-left: 5%;
    width: 100%;
    height: 95%;
    padding: 30px 35px;
    background: #FFFFFF;
    border-radius: 25px;
}

.textfield{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 100%;
    height: 19%;
}

hr{
    border-color: #11B9C4;
    outline: none;
    width: 96%;
    margin-top: -1%;
    margin-bottom: -1%;
}

.textfield p{
    margin-top: -5.5%;
}

.mini-card{
    background: #FFFFFF;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 16%;
    border-radius: 35px;
}

.mini-card h3{
    margin-top: -5%;
}

.mini-card p{
    margin-top: -6%;
    font-size: 0.8rem;
}

@media only screen and (max-width: 950px) {

}