@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

body * {
  box-sizing: border-box;
}

.main-login-edit {
  width: 100vw !important;
  height: 10vh !important;
  background: #e5e5e5 !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-login-edit {
  width: 100vw !important;
  height: 10vh !important;
}

.card-login-edit {
  display: grid !important;
  column-gap: 10px !important;
  row-gap: 10px !important;
  grid-template-columns: auto auto !important;
  max-width: 800px !important;
  margin-left: auto !important;
  margin-right: auto !important;
  padding: 30px 35px !important;
  background: #ffffff !important;
  border-radius: 20px !important;
  box-shadow: 0px 10px 40px #00000056 !important;
  box-shadow: 0px 10px 40px #00000056;
}

.title-edit {
  width: 100%;
}

.title-a > a {
  color: #747474;
}

.title > h1 {
  text-transform: uppercase;
  color: #11b9c4;
  font-weight: 800;
  margin: 0;
}

.title > img {
  margin-right: 5px;
  height: 4vh;
}

.textfield-edit {
  margin: 5px 0px;
  width: 100%;
}

.textfield-edit > label {
  padding: 5px;
}

.textfield-edit > input {
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 10px;
  background: #ffffff;
  color: #11b9c4;
  border: 0.5px solid #11b9c4;
  font-size: 12pt;
  outline: none;
  box-sizing: border-box;
}

.textfield-edit > input:hover {
  box-shadow: 0px 10px 40px #00000056;
}

.textfield-edit > label {
  color: #747474;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.textfield-edit > input::placeholder {
  color: #11b9c4;
}

.textfield-edit > p {
  font-size: 14px;
}

.button-login {
  width: 100%;
  padding: 16px 0px;
  margin: 25px;
  border: none;
  border-radius: 8px;
  outline: none;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 3px;
  color: #ffffff;
  background: #11b9c4;
  cursor: pointer;
  box-shadow: 0px 10px 40px -12px #067981c4;
}

.trasitionButton {
  transition: transform 1s;
}

.trasitionButton:hover {
  transform: scale(1.1);
}

@media only screen and (max-width: 950px) {
  .card-login {
    width: 85%;
  }

  .card-login > h1 {
    font-weight: 800;
  }
}

@media only screen and (max-width: 600px) {
  .main-login {
    display: flex;
    flex-direction: column;
  }

  .left-login > h1 {
    display: none;
  }

  .left-login {
    width: 100%;
    height: auto;
  }

  .right-login {
    width: 100%;
    height: auto;
  }

  .left-login-image {
    width: 50vw;
  }

  .card-login {
    width: 90%;
  }

  .title > h1 {
    font-weight: 800;
  }

  .title {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .title > img {
    height: 4vh;
    width: 5vw;
  }
}

@media only screen and (max-width: 350px) {
  .title > img {
    height: 4vh;
    width: 7vw;
  }

  .title > h1 {
    font-size: 1.4rem;
  }
}
