@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

body * {
  box-sizing: border-box;
}

.header {
  width: 100%;
  height: 10% !important;
  display: flex !important;
  padding: 30px;
  margin: 0;
  margin-top: 0px !important;
  margin-left: 0px !important;
  border-radius: 0px !important;
}

.logo {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo > img {
  cursor: pointer;
  width: 40%;
}

.menu {
  padding-left: 20%;
  width: 70%;
}

.menu li {
  margin: 10px;
  list-style: none;
  display: inline-flex;
  font-size: 1.5vw;
  font-weight: 800;
  cursor: pointer;
}

.menu ul li a::after {
  content: "";
  margin-left: 13px;
  display: flex;
  bottom: 1rem;
  left: 50%;
  width: 0;
  height: 0.2rem;
  background: #11b9c4;
  transition: all 300ms ease-in-out;
}

.menu ul li a:hover {
  color: black !important;
}

.menu ul li a:hover::after {
  width: 80%;
  left: 25%;
}

.body {
  width: 100%;
  height: 100%;
}

.card-body-main {
  display: flex;
  margin-left: 4.9vw;
  max-width: 1500px !important;
  width: 95%;
  height: 65vh;
  padding: 30px 35px;
  background-image: url(../images/Doctor-sobrenos.svg) !important;
  background-repeat: no-repeat !important;
  border-radius: 20px;
}

.card-text-left {
  width: 60%;
  height: 58vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 4.2%;
}

.card-text-left > h1 {
  font-size: 2.6rem;
  font-weight: 900;
  color: #1d1d1d;
  margin-top: 0;
  margin-right: 200px;
}

.card-button-left > button {
  width: 16vw;
  height: 8vh;
  margin-top: 5%;
  border-radius: 50px;
  cursor: pointer;
}

.service {
  font-size: 1.15vw;
  border: none;
  color: #ffffff;
  background-color: #11b9c4;
}

.who {
  margin-left: 3.5%;
  font-size: 1.15vw;
  background-color: #ffffff;
  border: 0.5px solid rgb(59, 59, 59);
}

.trasitionButton {
  transition: transform 1s;
}

.trasitionButton:hover {
  transform: scale(1.2);
}

.card-image-right {
  display: flex;
  justify-content: center;
  width: 50%;
  height: 61vh;
}

.accessibility {
  padding-top: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.accessibility > h2 {
  font-size: 2vw;
}

.accessibility > p {
  margin-top: -10px;
  font-size: 1.5vw;
}

.header-footer {
  margin-top: -4% !important;
  width: 100% !important;
  height: 40vh !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.first-image {
  display: flex !important;
  justify-content: center !important;
  flex-direction: column !important;
  align-items: flex-end !important;
  flex-wrap: wrap !important;
  width: 100% !important;
  border-radius: 0% !important;
}

.first-image > img {
  width: 50% !important;
  height: 40% !important;
  border-radius: 0% !important;
  margin-right: 0% !important;
}

.second-image {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
  flex-wrap: wrap !important;
  width: 100% !important;
  border-radius: 0% !important;
}

.second-image > img {
  width: 30% !important;
  border-radius: 0% !important;
  height: 40% !important;
}

.third-image {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: flex-start !important;
  flex-wrap: wrap !important;
  width: 100% !important;
  border-radius: 0% !important;
}

.third-image > img {
  width: 36% !important;
  border-radius: 0% !important;
  height: 30% !important;
  margin-left: 2.5% !important;
}

.footer-body {
  width: 100% !important;
  height: 100% !important;
}

.our-mission {
  width: 100%;
  display: flex;
  height: 35vh;
}

.image-mission {
  width: 40%;
  height: 40vh;
  display: flex;
  justify-content: center;
}

.image-mission > img {
  border-radius: 50%;
  width: 20vw;
  height: 27vh;
}

.mission-text-right {
  height: 40vh;
  width: 50%;
}

.mission-text-right > h3 {
  font-size: 2vw;
  color: #11b9c4;
  text-transform: uppercase;
}

.mission-text-right > p {
  font-size: 1.5vw;
}

.our-vision {
  width: 100%;
  display: flex;
  height: 30vh;
}

.vision-text-left {
  width: 50%;
  height: 40vh;
  margin-left: 11%;
}

.vision-text-left > h3 {
  font-size: 2vw;
  color: #11b9c4;
  text-transform: uppercase;
}

.vision-text-left > p {
  font-size: 1.5vw;
  text-align: justify;
}

.image-vision {
  width: 25%;
  height: 30vh;
}

.image-vision > img {
  margin-left: 50%;
  border-radius: 50%;
  width: 14.5vw;
  height: 27vh;
}

.our-values {
  width: 100%;
  height: 40vh;
  display: flex;
}

.image-values {
  width: 40%;
  height: 40vh;
  display: flex;
  justify-content: center;
}

.image-values > img {
  margin-top: 7%;
  border-radius: 50%;
  width: 17vw;
  height: 28vh;
}

.values-text-right {
  height: 40vh;
  width: 50%;
}

.values-text-right > h3 {
  font-size: 2vw;
  color: #11b9c4;
  text-transform: uppercase;
}

.values-text-right > p {
  font-size: 1.5vw;
  text-align: justify;
}
